body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

#app {
    max-width: 420px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: none;
    background: black;
    color: white;
    border-radius: 8px;
    font-size: 16px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.box {
    background: white;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    display: none;
}

#mobile-warning {
    display: none;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}
